$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.person-container {
  min-height: 80dvh;
  @include flexDisplay();
  padding: $spacingDouble;
  h1 {
    padding-block: $spacing;
    text-align: center;
  }
  h2 {
    padding-block: $spacing;
    @include mq() {
      padding-block: $spacingDouble;
    }
  }

  .person-description-container {
    @include flexDisplay(column-reverse);
    @include mq() {
      @include flexDisplay(row, flex-start, space-evenly);
      width: 100%;
    }
    em {
      font-weight: 300;
    }

    font-weight: 300;
    span {
      font-weight: 400;
    }
    .person-description {
      @include flexDisplay(column, "unset", "center");
      .biography {
        text-wrap: wrap;
        max-width: 700px;
        line-height: 1.5;
      }
      .name-alias {
        max-width: 700px;
        text-wrap: wrap;
        button {
          padding: 0;
          background-color: transparent;
        }
      }
    }
    .person-img-container {
      img {
        border-radius: 20px;
        max-width: 300px;
      }
    }
  }
}
