$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.container-searchPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: 85dvh;
  .container-search-menu {
    width: 100dvw;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: $spacingDouble;
    padding: $spacingDouble;
  }
  .fi-ts-popcorn {
    position: absolute;
    font-size: $fontSize1 * 10;
    text-align: center;
    top: 40%;
  }
  @include mq() {
    min-height: 80dvh;
  }
}

input {
  border-radius: $spacing;
  border: none;
  padding: 6px;
  &:focus {
    outline: none;
  }
}

.container-btn {
  display: flex;
  gap: 10px;
}

.hollywood {
  border-radius: 3rem;
}
