$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

.card-container {
  @include flexDisplay(column, start, space-around);
  min-height: 325px;
  border-radius: 15px;
  gap: $spacingDouble;
  padding: $spacingDouble;
  @include mq() {
    height: 580px;
    max-width: 600px;
    padding: $spacingDouble * 2;
  }
  .header-card-container {
    @include flexDisplay(column, flex-start, start);
    gap: $spacing;
    .title-container {
      .title {
        font-size: $fontSize1;
        @include mq() {
          font-size: $fontSize1 * 1.1;
        }
      }
    }
    .year-release,
    span {
      font-weight: 200;
    }
  }

  .cover-art-desc {
    @include flexDisplay();
    width: 100%;
    min-height: 345px;
    @include mq() {
      @include flexDisplay(row, flex-start, space-around);
      gap: 32px;
    }
    img {
      width: 100%;
      border-radius: 5%;
      @include mq() {
        max-width: 200px;
      }
    }
    .info {
      @include flexDisplay(column, center, center);
      @include mq() {
        @include flexDisplay(column, center, space-between);
        min-height: 345px;
      }
      gap: $spacingDouble;
      width: 100%;

      h3 {
        padding: 0;
        text-wrap: wrap;
        text-align: center;
      }
      .description {
        line-height: 1.5;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        font-size: $fontSize4;
        text-wrap: wrap;
        @include mq() {
          font-size: $fontSize4 * 1.2;
        }
      }
      .stars {
        font-size: $fontSize4;

        @include mq() {
          padding-bottom: 2rem;
        }
      }
    }
  }
}
