$fontSize1: 1.5rem;
$fontSize2: 1.25rem;
$fontSize3: 1.1rem;
$fontSize4: 0.8rem;
$spacing: 8px;
$spacingDouble: $spacing * 2;

@mixin flexDisplay($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  gap: $spacing;
}

@mixin mq($breakpoint: 768px) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

.container-search-area {
  @include flexDisplay();
  gap: 0;
  .selector-search-system-container {
    @include flexDisplay(row);
    gap: 0;
    a {
      font-size: $fontSize4;
      padding: $spacing;
      border-radius: 0%;
      @include mq() {
        font-size: $fontSize3;
        padding-inline: $spacingDouble;
        padding-block: calc($spacingDouble * 1);
      }
    }
  }
  .separator {
    width: 80%;
    padding: 0.5px;
  }
}
